* {
    box-sizing: border-box;
}

body {
    background-color: #007cb9;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}